@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    letter-spacing: 1pt;
    }


h1{
    font-family: 'SEGA LOGO FONT';
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    color: lightseagreen;
    font-style: normal;
    font-weight: normal;
}